  <p-card> <div class="con"> 
    <p-button
          label="Create"
          styleClass="w-full"
          type="Create"
        ></p-button>
        <p-button
          label="Policy"
          styleClass="w-full"
          type="Policy"
        ></p-button>
        <p-button
          label="View"
          styleClass="w-full"
          type="View"
        ></p-button>
        <p-button
          label="Delete"
          styleClass="w-full"
          type="Delete"
        ></p-button>
    </div></p-card>
<p-button label="Sign out" (onClick)="logOut()"></p-button>
